*.pyc

/.project
/.pydevproject
/.settings/

/VAADIN/
/muntjac/public/VAADIN/themes/
/muntjac/public/VAADIN/widgetsets/
/Muntjac.egg-info/
/build/
/dist/

/paste/
/gaesessions/
/babel/

/widgetsets/target/
/widgetsets/.project
/widgetsets/.classpath
/widgetsets/.settings/
