include LICENSE
include README
include CHANGELOG
include Makefile
include app.yaml
include conf.ini
include epydoc.config
include muntjac/public/VAADIN/README
include muntjac/public/VAADIN/favicon.ico
recursive-include muntjac/public/ *
